@mixin dl-input {
    border: 1px solid $dl-border !important;
    border-radius: $dl-radius-sm;
    padding: 6px 10px;
    background: $dl-surface;
    transition: border-color .1s, box-shadow .1s;

    &:focus,
    &:focus-within {
        border-color: $dl-primary !important;
        box-shadow: 0 0 0 2px rgba($dl-primary, 0.16);
        outline: 0;
    }
}
